@use '@styles/utils/colors' as *;

.department_card {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color: $black;

    scroll-snap-align: start;
    
    > .image {
        width: 12rem;
        height: 12rem;
        margin-bottom: .8rem;
        border-radius: .4rem;

        user-select: none;
        transition: .3s all;
    }

    > .name {
        font-weight: 600;
    }

    &:hover {
        text-decoration: underline;

        > .image {
            transform: scale(.95);
        }
    }
}
