@use '@styles/utils/colors' as *;

.question {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    color: $black;
    border-bottom: .1rem solid rgba($black, .1);
    border-radius: .4rem;
    
    overflow: hidden;

    > .radio {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    > .label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .8rem 1.6rem;
        background-color: $white;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
            color: $white
        }

        &::after {
            content: "\276F";
            display: grid;
            place-content: center;
            font-size: 1.2rem;
            text-align: center;
            transition: .2s all ease-in-out;
        }

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    > .content {
        max-height: 0;
        padding: 0 .8rem;
        color: $black;
        background: $white;
        font-size: 1.6rem;

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    }

    .radio:checked {
        + .label {
            background: $secondary;
            color: $white;

            &::after {
                transform: rotate(90deg);
            }
        }
        
        ~ .content {
            max-height: 100%;
            padding: 1.6rem;
        }
    }
}
