// $primary: #FFEE53;
$primary: #FF8453;
$primary-shade: lighten($primary, 5%);

$secondary: #FF8453;
// $secondary: #40c057;
$secondary-shade: darken($secondary, 15%);

$white: #F8F9FA;
$black: #343A40;
$lightgray: rgba($black, .25);
