@use '@styles/utils/colors' as *;

.wrapper {
    width: 100%;
    padding: 6.4rem 1.6rem;

    background-color: rgba($black, .05);
    margin-bottom: 6.4rem;
}

.about {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    > .image {
        display: block;
        width: min(100%, 48rem);
        object-fit: contain;
        border-radius: .4rem;

        user-select: none;

        flex-shrink: 0;
    }

    > .description {
        > h2 {
            width: fit-content;
            font-size: 2.4rem;
            margin-bottom: 3.2rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 60%;
                height: .4rem;
                background-color: $secondary;

                position: absolute;
            }
        }

        > p {
            font-size: 1.6rem;
            line-height: 1.6;
        }
    }

    @media (max-width: 870px) {
        flex-direction: column;

        > .description {
            text-align: center;

            > h2 {
                margin-inline: auto;
                font-size: 1.8rem;
            }
        }
    }
}
