@use '@styles/utils/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.container {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 1rem;
    margin: 3.2rem 6.4rem;

    > .description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        font-family: 'Sora', sans-serif;
        text-align: center;
        font-size: 2rem;

        padding: 1rem 0;

        > button {
            align-self: center;
        }
    }

    > .table {
        font-family: 'Sora', sans-serif;

        width: 100%;
        margin: 1rem 0;

        border: 0.1rem solid $black;
        border-radius: .4rem;
        border-spacing: 0;

        > .title {
            font-weight: bold;
            text-align: left;
        }

        > thead {
            text-align: center;

            > tr > th {
                padding: .5rem 0;
                border-bottom: $black 0.1rem solid;
            }
        }

        > tbody {
            > tr > td {
                text-align: center;

                padding: .1rem 0;
                border-bottom: $black 0.1rem solid;

                > img {
                    width: 5.6rem;
                    height: 5.6rem;

                    margin: .5rem 0;

                    border-radius: .4rem;
                    object-fit: cover;
                }

                > .remove_button {
                    border: none;
                    background: none;

                    border-radius: .5rem;

                    font-family: 'Sora', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $black;

                    padding: .5rem;

                    cursor: pointer;

                    &:hover {
                        color: darken($white, 10%);
                    }
                }
            }

            > tr:last-child > td {
                border-bottom: none;
            } 
        }

        @media screen and (max-width: 500px) {
            font-size: smaller;
        }

        @media screen and (max-width: 380px) {
            font-size: x-small;

            > thead {
                > tr > th {
                    padding: .1rem 0;
                }
            }

            > tbody {
                > tr > td {
                    padding: .1rem 0;

                    > img {
                        width: 4.8rem;
                        height: 4.8rem;
                    }

                    > .remove_button {
                        font-size: 1.4rem;
                        padding: 1rem;
                    }
                }
            }
        }
    }

    > .container_button_update {
        border: $black 0.1rem solid;
        border-radius: .4rem;

        padding: 0.5rem;
        margin-top: 1rem;
        margin-left: auto;

        width: 20%;

        > .update_button {
            width: 100%;
            background: none;

            border: none;

            font-family: 'Sora', sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
            color: $black;

            cursor: pointer;

            &:hover {
                color: lighten($black, 10%);
            }

            @media screen and (max-width: 380px) {
                font-size: 1.4rem;
            }
        }

        @media screen and (max-width: 880px) {
            width: 100%;	
        }
    }

    @media screen and (max-width: 880px) {
        margin: 3.2rem 0;    
        padding: 0;
    }
}
